<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <!-- Include the Play CDN script -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    {% if request.user.is_authenticated %}
    <h1>Welcome, {{ request.user.username }}!</h1>
    {% else %}
        <h1>Siz tizimga kirmagansiz tizimga kirish uchun bosing <a href="login_user">Login</a></h1>

    <!-- Welcome Card -->
    <div class="bg-white p-8 rounded-lg shadow-lg text-center">
        <h1 class="text-4xl font-bold text-gray-800 mb-4">Welcome! {{ request.user.username }} </h1>
        <a href="#" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full transition duration-300">
            Hisobingizga o'tish 
        </a>
    </div>
    {% endif %}
</body>
</html>

